<form id="invoiceForm" name="vm.editInvoiceForm" ng-submit="submit()" novalidate>
    <!--CREATE NEW INVOICE _ CARDED=================================================-->
    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-cog"></md-icon> <h3>General details</h3>
            </div>
        </md-card-title>
        <md-card-content>
            <div layout="row">
              <md-input-container flex="30">
                <md-autocomplete
                                 ng-required="true"
                                 md-select-on-match
                                 ng-keypress="enter($event)"
                                 ng-disabled="ctrl.isDisabled"
                                 md-input-name="acName"
                                 md-no-cache="ctrl.noCache"
                                 md-selected-item="vm.editInvoice.profile"
                                 md-search-text="ctrl.searchProfile"
                                 md-selected-item-change="loadCustomerDetails(vm.editInvoice.profile,0)"
                                 md-items="item in queryProfile(ctrl.searchProfile)"
                                 md-item-text="item.profilename"
                                 md-floating-label="Customer"
                                 md-min-length="" style="height: 55px;">
                  <md-not-found>No items.</md-not-found>
                  <md-item-template>
                    <span md-highlight-text="ctrl.searchText">{{item.profilename+" "+item.othername}}</span>
                  </md-item-template>
                </md-autocomplete>
              </md-input-container>
              <md-input-container>
                <md-button ng-click="addNewUser($event)" class="md-icon-button md-accent"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add new customer</md-tooltip> </md-button>
              </md-input-container>
              <span>{{vm.editInvoice.bill_addr}}</span>
            </div>

            <div ng-if="vm.editInvoice.profile != ''">
              <div layout="row" class="pos-rel">
                <div class="preloader-input-block animate-fade-in-out" layout="column" layout-align="space-around" ng-if="vm.isAddUpdateCardLoading">
                  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div flex md-whiteframe="1dp" class="colored-iconed-card">
                  <div layout="row" class="p-10 colored-header">
                    <div layout="row" layout-align="start center" flex class="user">
                      <i class="material-icons mr-10">face</i>
                      <span class="title">{{vm.userInfo.first_name}} {{vm.userInfo.last_name}}</span>
                    </div>
                  </div>
                  <div layout="row" flex class="p-10">
                    <div layout="column" flex>
                      <div layout="row">
                        <div layout="row" layout-align="start center" class="info-grid-row bordered" flex>
                          <div class="iconed-label" layout="row" layout-align="start center" flex="30">
                            <md-icon md-font-icon="icon-account-location"></md-icon> <span flex>User type</span>
                          </div>
                          <div flex class="text-capitalize">{{vm.userInfo.category}}</div>
                        </div>
                      </div>
                      <div layout="row">
                        <div layout="row" layout-align="start center" class="info-grid-row bordered" flex>
                          <div class="iconed-label" layout="row" layout-align="start center" flex="30">
                            <md-icon md-font-icon="icon-email"></md-icon> <span flex>Email</span>
                          </div>
                          <div flex class="">{{vm.userInfo.email_addr}}</div>
                        </div>
                      </div>
                      <div layout="row">
                        <div layout="row" layout-align="start center" class="info-grid-row bordered" flex>
                          <div class="iconed-label" layout="row" layout-align="start center" flex="30">
                            <md-icon md-font-icon="icon-google-maps"></md-icon> <span flex>Country</span>
                          </div>
                          <div flex class="">{{vm.userInfo.bill_country}}</div>
                        </div>
                      </div>
                    </div>
                    <div flex="5"></div>
                    <div layout="column" flex>
                      <div layout="column" layout-align="center start" class="info-grid-row bordered">
                        <div id="cardBody" class="iconed-label bordered" layout="row" layout-align="start center" fill-width>
                          <md-icon md-font-icon="icon-credit-card"></md-icon> <span flex>Card</span>
                        </div>
                        <div layout="column" layout-align="center center" style="width: 100%;" class="mt-10">
                          <!--<div flex layout="row" layout-align="center center" class="msg-empty-list m-0" ng-if="vm.userInfo.stripeCustId == null">-->
                          <!--<span><md-icon md-font-icon="icon-information-outline"></md-icon> No card has been added yet</span>-->
                          <!--</div>-->

                          <div layout="row" fill-width class="list-item" modal-animation-class="mt-20" ng-if="vm.userInfo.stripeCustId != null">
                            <div layout="row" layout-align="start center" class="info-grid-row" flex>
                              <div class="iconed-label" layout="row" layout-align="start center" flex>
                                <i class="material-icons">local_atm</i>
                                <span flex>Payment gateway</span>
                              </div>
                              <div flex>
                                <!--{{customer_supplier.profile.gatewayType}}-->
                                <div class="online_{{vm.userInfo.gatewayType | lowercase}} scale-down-5" style="margin-left: -40px"></div>
                              </div>
                            </div>
                          </div>
                          <div layout="row" fill-width class="list-item" modal-animation-class="mt-20">
                            <div layout="row" layout-align="start center" class="info-grid-row" flex ng-if="vm.userInfo.stripeCustId != null">
                              <div class="iconed-label" layout="row" layout-align="start center" flex>
                                <i class="material-icons">local_atm</i>
                                <!--<span flex>Card details</span>-->
                                <div flex class="op-5"><i>XXXX-XXXX-XXXX-{{cardLastDigits.last4}}</i></div>
                              </div>
                            </div>
                            <!--<div layout="row" layout-align="start center" class="info-grid-row" id="addUpdateCardSubsId" flex>-->
                            <!--</div>-->
                          </div>
                          <div layout="row" fill-width class="list-item" modal-animation-class="mt-20">
                            <iframe class="iframe-auto-height" fill-width onLoad="updateCardDone(this)" id="addUpdateCardSubsId" style="border: none">
                            </iframe>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div layout="row">
                <md-input-container flex="30">
                    <label>Type</label>
                    <md-select ng-required="true" flex ng-model="vm.editInvoice.invoiceOccurence">
                        <md-option value="One Time" selected>One Time</md-option>
                        <md-option value="Recurring">Recurring</md-option>
                        <md-option value="Installment">Installment</md-option>
                    </md-select>
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex="30" ng-if="vm.editInvoice.invoiceOccurence == 'Installment'">
                    <label>Occurrence</label>
                    <input ng-required="true" type="number" min="1" max="100000000000000000" name="frequency" ng-model="vm.editInvoice.occurence" ng-init="vm.editInvoice.occurence" style="text-align: right">
                    <div ng-messages="vm.editInvoice.occurence.$error">
                        <div ng-message="max">Occurrence must be between 1-18 digits</div>
                        <div ng-message="min">Occurrence must be between 1-18 digits</div>
                    </div>
                </md-input-container>
                <div flex="5" ng-if="vm.editInvoice.invoiceOccurence == 'Installment'"></div>
                <md-input-container flex="30" ng-if="vm.editInvoice.invoiceOccurence != 'One Time'">
                    <label>Period</label>
                    <md-select ng-required="true" flex ng-model="vm.editInvoice.invoiceingPeriod">
                        <md-option value="Days" selected>Days</md-option>
                        <md-option value="Months">Months</md-option>
                        <md-option value="Years">Years</md-option>
                    </md-select>
                </md-input-container>
                <div flex="5" ng-if="vm.editInvoice.invoiceOccurence != 'One Time'"></div>
                <md-input-container flex="30" ng-if="vm.editInvoice.invoiceOccurence != 'One Time'">
                    <label>Invoice Interval</label>
                    <input ng-required="true" type="number" min="1" max="100000000000000000" name="invoiceInterval" ng-model="vm.editInvoice.invoiceInterval" ng-init="vm.editInvoice.invoiceInterval" style="text-align: right">
                    <div ng-messages="vm.editInvoice.invoiceInterval.$error">
                        <div ng-message="max">Occurrence must be between 1-18 digits</div>
                        <div ng-message="min">Occurrence must be between 1-18 digits</div>
                    </div>
                </md-input-container>
            </div>

        </md-card-content>
    </md-card>
    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-credit-card-multiple"></md-icon> <h3>Billing details</h3>
            </div>
        </md-card-title>
        <md-card-content>
            <div class="prod-row-wrap">
                <div layout="row" ng-repeat="row in rows" class="highlight-blue solid p-5 add-item-row">
                    <md-autocomplete flex="30" required class="mb-0" layout="row" layout-align="start center"
                                     md-input-id="{{row.productId}}"
                                     ng-required="false"
                                     ng-keydown="toggleSearchMre(rows,$event,$index,vm.searchText[$index],'true')"
                                     md-select-on-match
                                     ng-keypress="enter($event)"
                                     ng-disabled="row.isAutoDisabled"
                                     md-input-name="productRowAuto"
                                     md-no-cache="vm.noCache"
                                     md-selected-item="row.product"
                                     md-selected-item-change="validateProduct(row.product,$index,row)"
                                     md-search-text="vm.searchText[$index]"
                                     md-floating-label="Product"
                                     md-items="prod in querySearch(vm.searchText[$index],$index)"
                                     md-item-text="prod.code">
                        <md-not-found>
                            <!--No items.-->
                            <!--<md-button ng-hide="$scope.searchMre"-->
                            <!--style="line-height: 20px;font-size: 12px"-->
                            <!--ng-click="getNextProducts(vm.searchText,rows,$parent.$index);" type="button">Search More-->
                            <!--</md-button>-->
                            <label ng-show="last">No items.</label>
                        </md-not-found>
                        <md-item-template>
                            <span md-highlight-text="vm.searchText">{{prod.code}}</span>
                        </md-item-template>
                        <div class="errors" ng-messages="vm.editInvoice.productRowAuto.$error">
                            <!--<div ng-message="required">Product is required</div>-->
                            <div ng-message="invalidInput" ng-if="!vm.editInvoice.productRowAuto.$error.required">Please select a valid product</div>
                        </div>
                    </md-autocomplete>
                    <div flex="5"></div>
                    <md-input-container class="mb-0" flex="30">
                        <label>Quantity</label>
                        <input name="InvoiceProdQty" id="{{row.qtyId}}" ng-required="true" ng-pattern="/^-?[0-9][^\.]*$/" type="number" min="1" ng-blur="checkStockAvailability(row,$index)" ng-model="row.qty">
                        <div ng-messages="vm.editInvoice.InvoiceProdQty.$error">
                            <div ng-message="pattern">Quantity of Unit is invalid</div>
                        </div>
                    </md-input-container>
                    <div flex="5"></div>
                    <div class="mb-0" flex="30" layout="row">
                        <div flex="5" layout="column" class="billingFrqCurrency" layout-align="center start">
                            {{0| isoCurrency: BaseCurrency:0}}
                        </div>
                        <md-input-container class="m-0" flex style="height: 60px;top: 17px;">
                            <label>Amount</label>
                            <input ng-disabled="vm.searchText[$index]=='' || row.product!=null" type="number" ng-model="row.rowAmtDisplay" class="text-right">
                        </md-input-container>
                    </div>
                    <!--<div flex="5"></div>-->
                    <!--<div flex="30" layout="column" layout-align="center start">-->
                    <!--<md-input-container fill-width class="mt-40" id="invProdQty7" ng-if="slab.autoTermination==false">-->
                    <!--<label>Additional charge per unit</label>-->
                    <!--<input type="number" ng-required="true" min="1" ng-model="slab.costPerUnitAdd">-->
                    <!--</md-input-container>-->
                    <!--<md-checkbox ng-model="slab.autoTermination" aria-label="Auto Terminate" class="md-primary dep-checkbox" ng-class="{'offset-top':!slab.autoTermination}">Auto terminate</md-checkbox>-->
                    <!--</div>-->
                    <div class="w-5"></div>
                    <div layout="column" layout-align="center center" class="v-rule-gray">
                        <md-button ng-click="removerow($index);" class="md-icon-button md-warn mr-12"><md-icon md-font-icon="icon-close-circle"></md-icon><md-tooltip>Remove row</md-tooltip> </md-button>
                    </div>
                </div>

            </div>

            <div layout="row" layout-align="end center">
                <md-button ng-click="addrow($event)" class="md-icon-button add-row-ico mr-10" layout="row">
                    <md-icon md-font-icon="icon-plus-circle md-accent"></md-icon>
                    <md-tooltip>Add another row</md-tooltip>
                </md-button>
            </div>

            <div layout="row" class="p-5">
                <div flex="70"></div>
                <div layout="row" layout-align="start center" flex="30">

                    <md-input-container flex>
                        <label>Promotion code</label>
                        <input ng-required="false" type="text" name="promotion" ng-model="vm.editInvoice.promotion" style="text-align: right" ng-blur="checkPromotion(vm.editInvoice.promotion)">

                    </md-input-container>
                </div>
                <div class="w-55"></div>
            </div>

            <div layout="row" class="p-5">
                <div flex="70"></div>
                <div layout="row" layout-align="start center" flex="30">
                    <div flex="5" layout="column" class="billingFrqCurrency pb-20" layout-align="center start">
                        {{0| isoCurrency: BaseCurrency:0}}
                    </div>
                    <md-input-container flex>
                        <label>Discount</label>
                        <input ng-required="false" type="number" name="discount" min="1" max="100000000000000000" ng-model="vm.editInvoice.discount" style="text-align: right">
                        <div ng-messages="vm.editInvoice.discount.$error">
                            <div ng-message="max">Discount must be between 1-18 digits</div>
                            <div ng-message="min">Discount must be between 1-18 digits</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="w-55"></div>
            </div>
            <div>
                <div layout="row" class="p-5">
                    <div flex></div>
                    <div layout="column" class="solid-highlight-gray p-10" flex="30">
                        <div layout="row" layout-align="start center" fill-width>
                            <div flex="5" layout="column" class="billingFrqCurrency pb-20" layout-align="center start">
                                {{0| isoCurrency: BaseCurrency:0}}
                            </div>
                            <md-input-container flex>
                                <label>Miscellaneous charges</label>
                                <input type="number" ng-required="false" min="0" max="100000000000000000" name="additionalcharge"  ng-model="vm.editInvoice.additionalcharge" style="text-align: right">
                                <div ng-messages="vm.editInvoice.additionalcharge.$error">
                                    <div ng-message="max">Additional Charges must be between 1-18 digits</div>
                                    <div ng-message="min">Additional Charges must be between 1-18 digits</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container fill-width>
                            <label>Remarks</label>
                            <input type="text" ng-required="false" min="1" ng-maxlength="300" md-maxlength="300" name="remarks" ng-model="vm.editInvoice.remarks">
                            <div ng-messages="vm.editInvoice.remarks.$error">
                                <div ng-message="maxlength">Remarks must be between 1-300 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="w-55"></div>
                </div>
            </div>
            <div layout="row" class="p-5">
                <div flex></div>
                <div layout="row" layout-align="end center" flex="30">
                    <h2 class="font-accent">Total : {{vm.itemTotal + vm.editInvoice.additionalcharge - vm.editInvoice.discount | isoCurrency: BaseCurrency: decimalPoint}}</h2>
                </div>
                <div class="w-55"></div>
            </div>

            <div style="margin-top: 50px">
                <div class="group-sub-head"><b>Payment Method</b></div>
                <div layout="row" layout-align="start center">
                    <md-input-container flex="30">
                        <md-radio-group ng-model="vm.editInvoice.paymentMethod" ng-init="vm.editInvoice.paymentMethod='cash'" ng-change="paymentMethodHandler(vm.editInvoice.paymentMethod)">
                            <md-radio-button ng-disabled="vm.selectedModule=='plan'" value="cash" class="md-primary">CASH</md-radio-button>
                            <md-radio-button value="credit" class="md-primary">CREDIT</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>

            </div>

        </md-card-content>
    </md-card>




    <!--CREATE NEW INVOICE _ CARDED=================================================-->
</form>
