<md-progress-circular ng-hide="isReadLoaded" style="position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;opacity: 0.3;z-index: 9999"></md-progress-circular>
<div id="invoice-read" class="compact page-layout blank" layout="row" flex>
  <meta name="updatedBy" content="Kasun">
  <meta name="modifiedDate" content="4-11-2016">
  <meta name="version" content="6.0.0.1">
  <meta name="app" content="invoice">
  <meta name="view" content="read-view">
  <div class="invoice-read-container" flex>

    <!-- INVOICE -->
    <div class="card md-whiteframe-8dp" layout="column" layout-align="center center">

      <div class="inv-outline" md-whiteframe="4dp" ng-class="{'page-setup-cover':isReadLoaded==false}" layout="column">
        <div class="inv-read-header">
          <div class="invoice-date">{{vm.selectedInvoice.invoiceDate | parseDate | date: 'dd/MM/yyyy'}}</div>

          <div layout="row" layout-align="space-between stretch" class="client-info" style="display: flex;">
            <div class="client" flex style="float: left;">
              <div class="invoice-number" layout="row" layout-align="start center" felx>
                <span class="title" flex="30" style="color: rgba(0, 0, 0, 0.54);">INVOICE NO </span>
                <span class="number">:  {{vm.selectedInvoice.invoiceNo}}</span>
                <!--<span class="number">{{vm.selectedInvoice.invoiceNo}} - {{vm.selectedInvoice.code}}</span>-->
              </div>

              <div class="invoice-number" layout="row" layout-align="start center" felx>
                <span class="title" flex="30" style="color: rgba(0, 0, 0, 0.54);">INVOICE TYPE</span>
                <span class="number">: {{vm.selectedInvoice.invoiceType}}</span>
              </div>


              <div class="invoice-number" layout="row" layout-align="start center" flex>
                <span class="title" flex="30" style="color: rgba(0, 0, 0, 0.54);">DUE DATE</span>
                <span class="date">: {{vm.selectedInvoice.dueDate | parseDate | date: 'dd/MM/yyyy'}}</span>
              </div>

              <div class="due-date" layout="row" layout-align="start center">
                <span class="title" flex="30">STATUS </span>
                <span style="color: green" ng-if="vm.selectedInvoice.invoiceStatus=='Paid'">: {{vm.selectedInvoice.invoiceStatus}}</span>
                <span style="color: orange" ng-if="vm.selectedInvoice.invoiceStatus=='Not Paid'">: {{vm.selectedInvoice.invoiceStatus}}</span>
                <span style="color: skyblue" ng-if="vm.selectedInvoice.invoiceStatus=='Partially Paid'">: {{vm.selectedInvoice.invoiceStatus}}</span>
                <span style="color: #BD362F" ng-if="vm.selectedInvoice.invoiceStatus=='void'">: {{vm.selectedInvoice.invoiceStatus}}</span>
              </div>

              <div class="info">
                <div class="title">{{vm.selectedInvoice.person_name}}</div>
                <div class="address">{{vm.selectedInvoice.bill_addr}}</div>
                <div class="phone">{{vm.selectedInvoice.phone}}</div>
                <div class="email">{{vm.selectedInvoice.email_addr}}</div>
                <!--<div class="website">www.yamu.lk</div>-->
              </div>
            </div>

            <div class="issuer" style="float: left;padding: 10px 0;" ng-class="{ 'md-accent-bg': selectedInvoice.companyLogo == ''}" layout="row" layout-align="start center">
              <table>
                <tr>
                  <td>
                    <div class="set-logo-wrap" ng-if="selectedInvoice.companyLogo != ''">
                      <div class="set-img">
                        <img style="width: 150px;height: auto;position: absolute;top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;" ng-src="{{selectedInvoice.companyLogo}}" alt="" />
                      </div>
                    </div>
                    <div class="logo" layout="row" layout-align="center center" ng-if="selectedInvoice.companyLogo == ''" style="font-family: Roboto;border-right: solid 1px #fff;color: #fff;">
                      <span style="font-size: 72px">{{selectedInvoice.companyName| limitTo:1}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="info" ng-class="{ 'fontblack': selectedInvoice.companyLogo == ''}" style="font-family: Roboto;max-width: 330px;">
                      <div class="">{{selectedInvoice.companyName}}</div>
                      <div class="address">{{selectedInvoice.companyAddress}}</div>
                      <div class="phone">{{selectedInvoice.companyPhone}}</div>
                      <div class="email">{{selectedInvoice.companyEmail}}</div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="inv-read-content">
          <table class="simple invoice-table" style="border-collapse: collapse">
            <thead>
            <th style="font-size: 14px;color: #bbbbbb;border-bottom: solid 1px #cccccc;">PLAN</th>
            <th class="text-right" style="font-size: 14px;color: #bbbbbb;border-bottom: solid 1px #cccccc;text-align: right">UNIT PRICE</th>
            <th class="text-right" style="font-size: 14px;color: #bbbbbb;border-bottom: solid 1px #cccccc;text-align: right">QUANTITY</th>
            <th class="text-right" style="font-size: 14px;color: #bbbbbb;border-bottom: solid 1px #cccccc;text-align: right">DISCOUNT</th>
            <th class="text-right font-14" style="text-align: right;color: #bbbbbb;border-bottom: solid 1px #cccccc;text-align: right">TOTAL</th>
            </thead>
            <tbody>
            <tr ng-repeat="detail in vm.selectedInvoice.invoiceDetails" class="font-14">
              <td class="font-14">
                {{detail.code}}
              </td>
              <td class="text-right font-14" style="text-align: right">
                {{detail.unitPrice | isoCurrency:vm.selectedInvoice.currency:decimalPoint}}
              </td>
              <td class="text-right font-14" style="text-align: right">
                {{detail.gty}}
              </td>
              <td class="text-right font-14" style="text-align: right">
                {{detail.discount | isoCurrency:vm.selectedInvoice.currency:decimalPoint}}
              </td>
              <td class="text-right font-14" style="text-align: right">
                {{detail.totalPrice | isoCurrency:vm.selectedInvoice.currency:decimalPoint}}
              </td>
            </tr>
            </tbody>
          </table>

          <table class="invoice-table-footer">
            <tbody>
            <tr class="subtotal">
              <td class="font-14" style="width: 50%;"></td>
              <td class="font-14" style="color: #ababab">SUBTOTAL</td>
              <td class="font-14" style="text-align: right;color: #ababab">{{vm.selectedInvoice.subTotal | isoCurrency:vm.selectedInvoice.currency:decimalPoint}}</td>
            </tr>
            <tr class="additionalcharge">
              <td class="font-14" style="width: 50%;"></td>
              <td class="font-14"style="color: #ababab">MISCELLANEOUS CHARGES</td>
              <td class="font-14" style="text-align: right;color: #ababab">{{vm.selectedInvoice.additionalcharge | isoCurrency:vm.selectedInvoice.currency:decimalPoint}}</td>
            </tr>
            <tr class="">
              <td class="font-14" style="width: 50%;"></td>
              <td class="font-14"style="color: #ababab">DISCOUNT</td>
              <td style="text-align: right;color: #ababab">({{vm.selectedInvoice.discAmt | isoCurrency:vm.selectedInvoice.currency:decimalPoint}})</td></tr>
            <tr class="tax">
              <td class="font-14" style="width: 50%;"></td>
              <td class="font-14"style="color: #ababab">TAX</td>
              <td class="font-14" style="text-align: right;color: #ababab">{{vm.selectedInvoice.tax | isoCurrency:vm.selectedInvoice.currency:decimalPoint}}</td>
            </tr>
            <!--<tr class="">-->
              <!--<td class="font-14" style="width: 50%;"></td>-->
              <!--<td class="font-14" style="color: #ababab">DISCOUNT</td>-->
              <!--<td class="font-14" style="text-align: right;color: #ababab">({{vm.selectedInvoice.discount | isoCurrency:vm.selectedInvoice.currency:decimalPoint}})</td>-->
            <!--</tr>-->
            <tr class="total">
              <td class="font-14" style="width: 50%;"></td>
              <td class="font-27" style="font-weight: 300;">TOTAL</td>
              <td class="font-27" style="text-align: right;font-weight: 300">{{vm.selectedInvoice.invoiceAmount | isoCurrency:vm.selectedInvoice.currency:decimalPoint}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <!--<div>-->
          <!--<div  layout-align="start center" flex>-->
            <!--<div  flex="30" style="color: rgba(0, 0, 0, 0.54);">NOTE</div>-->
            <!--<div>  {{vm.selectedInvoice.tag}}</div>-->
          <!--</div>-->
        <!--</div>-->

        <div style="height: 200px;"></div>

        <div flex></div>

        <div class="inv-read-footer">
          <div class="note">{{vm.selectedInvoice.greeting}}</div>
          <div layout="row" layout-align="start start" style="display: flex;">
            <!--<div class="logo md-accent-bg" layout="row" layout-align="center center" style="float: left;">-->
              <!--<div>{{vm.selectedInvoice.companyName| limitTo:1}}</div>-->
            <!--</div>-->
            <div class="small-note">
              {{vm.selectedInvoice.disclaimer}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / INVOICE -->

    <!-- Use the following element to add breaks to your pages -->
    <!-- This will make sure that the section after this element will be printed on a new page -->
    <div class="page-break"></div>

  </div>
</div>
